[class^=icon-], [class*=" icon-"] {
  font-size: 22px;
  margin: 0 auto;
}

.acf-field[data-name=card_icon] .acf-input .acf-radio-list,
.acf-field[data-name=icon_class] .acf-input .acf-radio-list {
  display: flex;
  flex-wrap: wrap;
}
.acf-field[data-name=card_icon] .acf-input .acf-radio-list li,
.acf-field[data-name=icon_class] .acf-input .acf-radio-list li {
  margin: 4px;
  width: 30%;
}
.acf-field[data-name=card_icon] .acf-input .acf-radio-list li label,
.acf-field[data-name=icon_class] .acf-input .acf-radio-list li label {
  align-items: center;
  border: 1px solid #8c8f94;
  border-radius: 4px;
  display: flex;
  padding: 10px 5px;
  text-align: center;
}
.acf-field[data-name=card_icon] .acf-input .acf-radio-list li label input,
.acf-field[data-name=icon_class] .acf-input .acf-radio-list li label input {
  left: -9999px;
  opacity: 0;
  position: absolute;
}
.acf-field[data-name=card_icon] .acf-input .acf-radio-list li label:hover, .acf-field[data-name=card_icon] .acf-input .acf-radio-list li label.selected,
.acf-field[data-name=icon_class] .acf-input .acf-radio-list li label:hover,
.acf-field[data-name=icon_class] .acf-input .acf-radio-list li label.selected {
  background: #3E3E92;
  border-color: #3E3E92;
  color: #FFF;
}

/*:: ICOMOON ::*/
@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon/icomoon.woff2?jbb4se") format("woff2"), url("../font/icomoon/icomoon.ttf?jbb4se") format("truetype"), url("../font/icomoon/icomoon.woff?jbb4se") format("woff"), url("../font/icomoon/icomoon.svg?jbb4se#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mixins */
/* Icons custom mixin */
.icon-1star::before {
  content: "\e933";
}

.icon-2star::before {
  content: "\e933\e933";
}

.icon-3star::before {
  content: "\e933\e933\e933";
}

.icon-4star::before {
  content: "\e933\e933\e933\e933";
}

.icon-5star::before {
  content: "\e933\e933\e933\e933\e933";
}

.icon-1key::before {
  content: "\e934";
}

.icon-2key::before {
  content: "\e934\e934";
}

.icon-3key::before {
  content: "\e934\e934\e934";
}

.icon-4key::before {
  content: "\e934\e934\e934\e934";
}

.icon-5key::before {
  content: "\e934\e934\e934\e934\e934";
}

.icon-1epi::before {
  content: "\e932";
}

.icon-2epi::before {
  content: "\e932\e932";
}

.icon-3epi::before {
  content: "\e932\e932\e932";
}

.icon-4epi::before {
  content: "\e932\e932\e932\e932";
}

.icon-5epi::before {
  content: "\e932\e932\e932\e932\e932";
}

.icon-1mstar::before {
  content: "\e902";
}

.icon-2mstar::before {
  content: "\e902\e902";
}

.icon-3mstar::before {
  content: "\e902\e902\e902";
}

.icon-1toque::before {
  content: "\e910";
}

.icon-2toque::before {
  content: "\e910\e910";
}

.icon-3toque::before {
  content: "\e910\e910\e910";
}

.icon-4toque::before {
  content: "\e910\e910\e910\e910";
}

.icon-5toque::before {
  content: "\e910\e910\e910\e910\e910";
}

/* Icons */
.icon-external:before {
  content: "\e96a";
}

.icon-fortress:before {
  content: "\e967";
}

.icon-packages:before {
  content: "\e968";
}

.icon-village:before {
  content: "\e969";
}

.icon-moins:before {
  content: "\e965";
}

.icon-plus:before {
  content: "\e966";
}

.icon-quality-labels:before {
  content: "\e963";
}

.icon-high-quality:before {
  content: "\e964";
}

.icon-megaphone:before {
  content: "\e95d";
}

.icon-fireworks:before {
  content: "\e95e";
}

.icon-cup:before {
  content: "\e95f";
}

.icon-information:before {
  content: "\e960";
}

.icon-sport:before {
  content: "\e961";
}

.icon-culture:before {
  content: "\e962";
}

.icon-no-pets:before {
  content: "\e958";
}

.icon-pets:before {
  content: "\e959";
}

.icon-restaurants:before {
  content: "\e95a";
}

.icon-reception:before {
  content: "\e95b";
}

.icon-gite:before {
  content: "\e95c";
}

.icon-toque-gaultmillau:before {
  content: "\e910";
}

.icon-assiette-michelin:before {
  content: "\e900";
}

.icon-bib-gourmand-michelin:before {
  content: "\e901";
}

.icon-etoile-michelin:before {
  content: "\e902";
}

.icon-etoile-verte-michelin:before {
  content: "\e90f";
}

.icon-service:before {
  content: "\e955";
}

.icon-terrace:before {
  content: "\e956";
}

.icon-snowflake:before {
  content: "\e957";
}

.icon-key:before {
  content: "\e934";
}

.icon-star:before {
  content: "\e933";
}

.icon-wheat:before {
  content: "\e932";
}

.icon-caravan-zone:before {
  content: "\e941";
}

.icon-tent-zone:before {
  content: "\e942";
}

.icon-diamond:before {
  content: "\e943";
}

.icon-tent:before {
  content: "\e944";
}

.icon-camping-area:before {
  content: "\e945";
}

.icon-caravan:before {
  content: "\e946";
}

.icon-camping:before {
  content: "\e947";
}

.icon-group:before {
  content: "\e948";
}

.icon-tribune:before {
  content: "\e949";
}

.icon-dinner:before {
  content: "\e94a";
}

.icon-projector:before {
  content: "\e94b";
}

.icon-meeting-room:before {
  content: "\e94c";
}

.icon-business-trip:before {
  content: "\e94d";
}

.icon-translation-bubble:before {
  content: "\e94e";
}

.icon-eye:before {
  content: "\e94f";
}

.icon-rooms:before {
  content: "\e940";
}

.icon-disability:before {
  content: "\e935";
}

.icon-stairs:before {
  content: "\e936";
}

.icon-toilet:before {
  content: "\e937";
}

.icon-bathroom:before {
  content: "\e938";
}

.icon-surface:before {
  content: "\e939";
}

.icon-double-bed:before {
  content: "\e93a";
}

.icon-single-bed:before {
  content: "\e93b";
}

.icon-pillows:before {
  content: "\e93c";
}

.icon-person:before {
  content: "\e93d";
}

.icon-tarifs:before {
  content: "\e93e";
}

.icon-prestations:before {
  content: "\e93f";
}

.icon-pet-friendly:before {
  content: "\e925";
}

.icon-translate:before {
  content: "\e928";
}

.icon-infos-logement:before {
  content: "\e929";
}

.icon-prestations-activites:before {
  content: "\e92a";
}

.icon-prestations-conforts:before {
  content: "\e92b";
}

.icon-prestations-equipements:before {
  content: "\e92c";
}

.icon-prestations-services:before {
  content: "\e92d";
}

.icon-hard:before {
  content: "\e92e";
}

.icon-medium:before {
  content: "\e92f";
}

.icon-easy:before {
  content: "\e930";
}

.icon-terrain:before {
  content: "\e931";
}

.icon-distance:before {
  content: "\e926";
}

.icon-clock:before {
  content: "\e927";
}

.icon-tripadvisor:before {
  content: "\e924";
}

.icon-arrow-left-2:before {
  content: "\e922";
}

.icon-arrow-right-2:before {
  content: "\e923";
}

.icon-preferences:before {
  content: "\e920";
}

.icon-circle:before {
  content: "\e91f";
}

.icon-glass:before {
  content: "\e917";
}

.icon-flyer:before {
  content: "\e918";
}

.icon-summer:before {
  content: "\e919";
}

.icon-lodging:before {
  content: "\e91a";
}

.icon-binoculars:before {
  content: "\e91b";
}

.icon-compass:before {
  content: "\e91c";
}

.icon-quote-top:before {
  content: "\e91d";
}

.icon-quote-bottom:before {
  content: "\e91e";
}

.icon-mail:before {
  content: "\e913";
}

.icon-calendar:before {
  content: "\e914";
}

.icon-tickets:before {
  content: "\e915";
}

.icon-garland:before {
  content: "\e916";
}

.icon-event:before {
  content: "\e90b";
}

.icon-boot:before {
  content: "\e90c";
}

.icon-table:before {
  content: "\e90d";
}

.icon-horse-riding:before {
  content: "\e90e";
}

.icon-swimming:before {
  content: "\e911";
}

.icon-wellness:before {
  content: "\e912";
}

.icon-bike:before {
  content: "\e921";
}

.icon-family:before {
  content: "\e950";
}

.icon-twitter:before {
  content: "\e903";
}

.icon-pinterest:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e906";
}

.icon-arrow-left:before {
  content: "\e907";
}

.icon-arrow-right:before {
  content: "\e908";
}

.icon-location:before {
  content: "\e909";
}

.icon-bag:before {
  content: "\e90a";
}

.icon-arrow-filled:before {
  content: "\e951";
}

.icon-search:before {
  content: "\e952";
}

.icon-camera:before {
  content: "\e953";
}

.icon-close:before {
  content: "\e954";
}/*# sourceMappingURL=icomoon.css.map */